/*css*/
@import "../css/grid.css";
@import "../css/superfish.css";
@import "../css/touchTouch.css";
/*@import "../css/form.css";*/
@import "../css/stuck.css";
 @import url(http://fonts.googleapis.com/css?family=Roboto:400,400italic,300,700);
 input::-ms-clear {
 display: none;
}
html, body {
}
a[href^="tel:"] {
	color: inherit;
	text-decoration: none;
}
* {
	-webkit-text-size-adjust: none;
}
.clearfix {
 *zoom: 1;
}
.clearfix:before, .clearfix:after {
	display: table;
	content: "";
	line-height: 0;
}
.clearfix:after {
	clear: both;
}
.fleft {
	float: left;
}
.fright {
	float: right;
}
.clear {
	clear: both;
	width: 100%;
	font-size: 0;
	line-height: 0;
}
.wrapper, .wrapper-extra, .extra-wrap {
	position: relative;
	overflow: hidden;
	width: 100%;
}
.wrap {
	position: relative;
	text-align: center;
}
.wrapper-after:after {
	display: block;
	visibility: hidden;
	clear: both;
	height: 0;
	content: ".";
}
.dis-block {
	display: block;
}
.dis-inblock {
	display: inline-block;
}
.txt_left {
	text-align: left;
}
.txt_right {
	text-align: right;
}
.txt_cntr {
	text-align: center;
}
.txt_ital {
	font-style: italic;
}
.txt_line_through {
	text-decoration: line-through;
}
.lh24 {
	line-height: 24px;
}
.marg-left-0 {
	margin-left: 0 !important;
}
.marg-right-0 {
	margin-right: 0 !important;
}
.marg-left-right-0 {
	margin-right: 0 !important;
	margin-left: 0 !important;
}
.last-mbot {
	margin-bottom: 0 !important;
}
.last-pbot {
	padding-bottom: 0 !important;
}
.last-mpbot {
	margin-bottom: 0 !important;
	padding-bottom: 0 !important;
}
.marLeft1 {
	margin-left: 19px;
}
.marRight1 {
	margin-right: 13px;
}
.marRight2 {
	margin-right: 69px;
}
.padTop1 {
	padding-top: 20px;
}
.padBot1 {
	padding-bottom: 60px;
}
.padBot2 {
	padding-bottom: 41px;
}
.pad5 {
	padding: 5px;
}
.mar1 {
	margin: -1px 10px 0;
	display: inline-block !important;
	color: #808080 !important;
}
.mar2 {
	margin: 0 10px;
}
.marTop0 {
	margin-top: 0px;
}
.marTop1 {
	margin-top: 34px;
}
.marTop2 {
	margin-top: -16px;
}
.marTop3 {
	margin-top: 8px;
}
.marTop4 {
	margin-top: 17px !important;
}
.marTop5 {
	margin-top: 4px;
}
.marTop6 {
	margin-top: -50px;
}
.indent1 {
	width: 100%;
	margin-top: 30px;
}
.indent2 {
	width: 100%;
	margin-top: 55px;
}
.pos_rel {
	position: relative;
}
.marBot1 {
	margin-bottom: -12px;
}
.quote_1 {
	text-align: center;
	max-width: 660px;
	display: inline-block;
	margin-top: 34px;
}
.hline2 {
	position: relative;
	width: 100%;
	margin-top: 40px;
	padding-bottom: 77px;
	border-bottom: 1px solid #c9c9c9;
}
.hline2.v2 {
	margin-top: 19px;
	padding-bottom: 37px;
}
.box, .box2, .box3 {
	overflow: hidden;
}
.bold {
	font-weight: bold;
}
.fw400 {
	font-weight: 400;
}
.fw600 {
	font-weight: 600;
}
.color1 {
	color: #fff;
}
.color2 {
	color: #62d03a;
}
.color3 {
	color: #3b3b3b;
}
.bg1 {
	background: #ebcd3f !important;
}
.bg2 {
	background: #f67570 !important;
}
.bg3 {
	background: #ff856c !important;
}
.bg4 {
	background: #fb9800 !important;
}
.bg5 {
	background: #62d03a !important;
}
/* Global properties ======================================================== */
html, body {
	margin: 0;
	padding: 0;
	height: 100%;
}
body {
	min-width: 300px;
	background: #f8f8f8;
	color: #9a9a9a;
	font: 300 14px/21px "Roboto", Arial, Helvetica, sans-serif;
}
.fs_14 {
	font-size: 14px;
}
#back-top {
	position: fixed;
	bottom: 40px;
	left: 51%;
	z-index: 1000;
	display: none;
	margin-left: 620px;
	width: 26px;
	height: 26px;
	background: url(../images/up-arrow.png) 50% 50% no-repeat;
	color: #c5c5c5;
	text-align: center;
	cursor: pointer;
	border-radius: 500px;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
#back-top i {
	line-height: 73px;
	font-size: 22px;
	display: none
}
#back-top:hover {
	color: #3498db;
	background: url(../images/up-arrow.png) 50% 50% no-repeat #b5fa9c;
}
.main {
	padding: 0 0 0 0;
	width: 100%;
	height: auto;
	/*background: #f2f1e6; */
	margin: 0 auto;
}
.div-content {
	margin: 0 auto;
	padding-top: 0px;
	padding-bottom: 77px;
	padding-bottom: 0;
	width: 100%;
	background: #f8f8f8;
	overflow: hidden;
}
.div-content.content_page {
	padding-bottom: 98px;
}
.txt_col1 {
	position: relative;
	display: inline-block;
	width: 64px;
}
.col1 {
	position: relative;
	width: 33.33%;
	float: left;
}
.col2 {
	position: relative;
	width: 232px;
	float: left;
}
.header_txt_section {
	-webkit-box-sizing: border-box; /* Safari */
	-moz-box-sizing: border-box; /*Firefox 1-3*/
	box-sizing: border-box;
	padding: 45px 20px 30px 47px;
	background: #ebcd3f;
	color: #fff;/*	height: 285px;*/
}
.header_txt_section .txt1 {
	padding: 0 !important;
	margin: 0 !important;
}
/***********************************************************************/
/*===============================>H-logo-properties=========================*/
h1 {
	position: relative;
	display: inline-block;
	margin: 0;
	margin-top: 0;
}
h1 img {
	max-width: inherit;
}
h2 {
	font: bold 28px/32px 'Roboto', Arial, sans-serif;
	color: #595959;
	margin-top: 81px;
	padding-bottom: 31px;
	border-bottom: 1px solid #c9c9c9;
	text-transform: uppercase;
}
h2.no_line {
	border: none;
	margin-top: 38px;
}
h2.no_line2 {
	border: none;
	margin-top: 38px;
	padding-bottom: 19px;
}
h2.v2 {
	margin-top: 32px;
}
h2.v3 {
	margin-bottom: -11px;
}
h3 {
	font: 15px/24px 'Roboto', Arial, sans-serif;
	color: #656464;
	text-transform: uppercase;
	margin-top: 38px;
}
h4 {
	font: 300 20px/25px 'Roboto', Arial, sans-serif;
	color: #f25f43;
	margin-top: 37px;
	text-transform: uppercase;
}
#search-results h4 {
	color: #000;
	padding-bottom: 12px;
}
span.search {
	color: #2ebbea !important;
}
#search-results h4 a:hover {
	color: #2ebbea;
}
h5 {
	margin-top: 10px;
	margin-bottom: 0;
	color: #333333;
	text-transform: uppercase;
	font: 14px/22px 'Roboto', Arial, sans-serif;
}
.num1 {
	font: 300 35px/52px 'Roboto', Arial, sans-serif;
	color: #fff;
	margin-top: 21px;
	text-transform: uppercase;
	float: left;
	margin-right: 28px;
	background: #f85353;
	border-radius: 500px;
	width: 52px;
	height: 52px;
	text-align: center;
}
.num2 {
	font: 300 50px/75px 'Roboto', Arial, sans-serif;
	color: #fff;
	margin-top: 31px;
	text-transform: uppercase;
	width: 81px;
	height: 81px;
	background: #3e454c;
	margin-top: 36px;
	border-radius: 500px;
	text-align: center;
}
.fs24 {
	font-size: 24px;
}
.fs55 {
	font-size: 55px;
}
.txt1 {
	font: 300 35px/36px 'Roboto', Arial, sans-serif;
	margin-top: 20px;
}
.txt2 {
	font: 14px/20px 'Roboto', Arial, sans-serif;
	margin-top: 29px;
}
.txt3 {
	font: 300 18px/20px 'Roboto', Arial, sans-serif;
	margin-top: 20px;
}
.txt4 {
	font: 100px/100px 'Roboto', Arial, sans-serif;
	margin-top: 64px;
	color: #787878;
	text-transform: uppercase;
	letter-spacing: -3px;
}
.txt5 {
	font: 300 37px/48px 'Roboto', Arial, sans-serif;
	margin-top: 20px;
	color: #6f6f6f;
}
.txt6 {
	font: 14px/20px 'Roboto', Arial, sans-serif;
	margin-top: 20px;
	color: #62d03a;
	text-transform: uppercase;
}
.txt7 {
	font: 36px/36px 'Roboto', Arial, sans-serif;
	margin-top: 50px;
	color: #363636;
	text-transform: uppercase;
}
.txt8 {
	font: 18px/20px 'Roboto', Arial, sans-serif;
	margin-top: 5px;
	color: #747474;
	text-transform: uppercase;
}
.txt9 {
	font: 15px/20px 'Roboto', Arial, sans-serif;
	margin-top: 27px;
	color: #62d03a;
	text-transform: uppercase;
}
.txt10 {
	font: 18px/20px 'Roboto', Arial, sans-serif;
	margin-top: 31px;
	color: #fff;
}
.txt11 {
	font: 16px/20px 'Roboto', Arial, sans-serif;
	margin-top: 28px;
	color: #fff;
	font-style: italic;
}
.client_txt {
	font: 600 20px/22px 'Roboto', Arial, sans-serif;
	color: #2a2a2a;
	margin-top: 13px;
	text-transform: uppercase;
	padding-left: 28px;
	background: url(../images/sign1.png) 0 0px no-repeat;
}
.year_section {
	font: 15px/20px 'Roboto', Arial, sans-serif;
	color: #ffd64f;
	margin-top: 19px;
	float: left;
	width: 54px;
}
.white_bg {
	position: relative;
	margin-top: 40px;
	margin-bottom: 1px;
	padding: 29px 0 13px;
	width: 100%;
	border: none;
	background: #fff;
}
.comment_link {
	margin-top: 31px;
	margin-right: 31px;
}
p {
	margin-top: 17px;
}
img {
	margin-bottom: 0px;
	max-width: 100%;
	height: auto;
}
.img1 {
	margin-top: 0px;
}
.img2 {
	margin-top: 10px;
	margin-bottom: 12px;
}
.img3 {
	margin-top: 20px;
}
.img4 {
	margin-top: 45px;
	float: left;
	margin-right: 31px;
}
.img5 {
	margin-top: 45px;
	float: left;
	margin-right: 21px;
}
.img6 {
	margin-top: 24px;
	float: left;
	margin-right: 31px;
}
a {
	text-decoration: none;
	cursor: pointer;
	color: inherit;
}
a.link1 {
}
a.link1:hover {
	color: #000;
}
a.link2 {
}
a.link2:hover {
	color: #62d03a;
}
a.link3 {
	color: #3b3b3b;
}
a.link3:hover {
	color: #62d03a;
}
a.link4 {
	text-decoration: underline;
}
a.link4:hover {
	color: #62d03a;
}
.comment_txt {
	margin-top: 4px;
	margin-bottom: -20PX;
}
.comment_txt i {
	color: #bbbaba;
	font-size: 15px;
	margin-top: 5px;
	margin-right: 5px;
}
a:hover {
	color: #000;
	text-decoration: none;
}
a {
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.date_txt {
	text-transform: uppercase;
	font-size: 12px;
	color: #6f6f6f;
}
.comment_icon2 {
	position: relative;
	display: inline-block;
	margin: -17px -2px 0 19px;
	width: 63px;
	height: 55px;
	background: url(../images/comment_icon_big.png) 0 0 no-repeat;
}
.section_year {
	float: left;
	width: 40px;
	color: #6f6f6f;
}
.num_section {
	position: relative;
	margin-top: 35px;
	width: 70px;
	height: 70px;
	font: 600 30px/70px 'Roboto', Arial, sans-serif;
	color: #fff;
	background: #323841;
	text-align: center;
	border-radius: 500px;
}
.date_section {
	position: relative;
	width: 70px;
	height: 70px;
	/*height: 126px;*/
	background-color: #8dbf41;
	float: left;
	margin-right: 31px;
	text-align: center;
	margin-top: 32px;
	color: #fff;
	text-transform: uppercase;
}
.day {
	font: 30px/30px 'Roboto', Arial, sans-serif;
	margin-top: 9px;
	display: inline-block;
}
.month {
	font: 18px/18px 'Roboto', Arial, sans-serif;
	margin-top: 0;
}
/************Header************/
header {
	position: relative;
	z-index: 9;
	padding: 0;
	padding-top: 48px;
	padding-bottom: 10px;
}
header.content_header {
	margin-bottom: 79px;
}
.menu_section {
	width: 100%;
	position: relative;
	margin-top: 44px;
	display: inline-block;
	min-height: 75px;
}
.bot_line {
	display: inline-block;
	margin-top: 2px;
	margin-bottom: 42px;
	width: 100%;
	height: 1px;
	background: #f2f2f2;
}
/************Content***********/



blockquote {
	margin-top: 0px;
	position: relative;
	background: url(../images/bq_sign.png) 0 5px no-repeat;
	padding-top: 0px;
	margin-top: 19px;
	display: block;
	padding-left: 53px;
	margin-bottom: 32px;
}
.img_txt_holder {
	width: 100%;
	background: #24292c;
	-webkit-box-sizing: border-box; /* Safari */
	-moz-box-sizing: border-box; /*Firefox 1-3*/
	box-sizing: border-box;
	padding: 28px 10px 29px 33px;
}
.img_txt_holder p {
	margin-top: 0;
}
.header-box {
	position: relative;
	margin-top: 50px;
	z-index: 2;
}
.box-1 {
	/*	background: url(../images/bg_pic1.jpg) 50% 0 repeat-x #2eb73b;*/
	margin-top: 47px;
	padding-top: 50px;
}
.box-1 .bckg {
	background: url(../images/bg_pic1.jpg) 50% top repeat-x #2eb73b;
	position: absolute;
	height: 427px;
	z-index: 1;
	width: 100%;
	margin-top: -50px;
}
.box-1 h1 {
	z-index: 12;
}
.box-1.content_box {
	padding-bottom: 62px;
	margin-bottom: -16px;
}
.box-2 {
	width: 100%;
	background: #fff;
	margin-top: 68px;
	padding: 30px 0 30px;
}
.box-3 {
	border: 1px solid #d2d2d2;
	-webkit-box-sizing: border-box; /* Safari */
	-moz-box-sizing: border-box; /*Firefox 1-3*/
	box-sizing: border-box;
	padding: 20px 73px 36px;
	background-color: #fff;
}
.box-4 {
	background: url(../images/bg_pic2.jpg) 50% 0 repeat-x #828282;
	margin-top: 4px;
	padding-top: 31px;
	padding-bottom: 65px;
	text-align: center;
	color: #fff;
}
/* ============================= lists ====================== */
.listWithMarker {
	margin: 0;
	margin-top: 20px;
	margin-bottom: -30px;
}
.listWithMarker.v2 {
	margin-top: 22px;
}
.listWithMarker.v3 {
	margin-top: 32px;
}
.listWithMarker li {
	display: block;
	margin-bottom: 12px;
	padding-left: 16px;
	background: url(../images/list_marker.png) 1px 5px no-repeat;
	border-bottom: 1px solid #e3e3e3;
}
.listWithMarker li:last-child {
	border-bottom: 0;
}
.listWithMarker li a {
	color: #4bb624;
	text-decoration: none;
	font: 300 14px/16px 'Roboto', Arial, sans-serif;/*	text-transform: uppercase;*/
}
.listWithMarker li a:hover, .listWithMarker li.current a {
	color: #000;
}
.list_menu_footer {
	float: right;
	margin-top: 19px;
}
.list_menu_footer li {
	float: left;
	margin-left: 59px;
}
.list_menu_footer li a {
	font: 14px/20px "Roboto", Arial, sans-serif;
	color: #585858;
	text-transform: uppercase;
}
.list_menu_footer li a:hover, .list_menu_footer li.current a {
	color: #62d03a;
}
/* ============================= end lists ====================== */



.comments_btn {
	padding-left: 19px;
	background: url(../images/comment_icon.png) 0 2px no-repeat;
	color: #6b6b6b;
}
.more_btn {
	display: inline-block;
	margin-top: 31px;
	padding: 10px 26px;
	background: #4d4d4d;
	color: #fff;
	text-decoration: none;
	font: 16px/20px "Roboto", Arial, sans-serif;
	border-radius: 7px;
}
.more_btn:hover {
	color: #fff;
	background: #f67570 !important;
}
.more_btn.bg5:hover {
	background: #4d4d4d !important;
}
figure {
	display: block;
	margin-top: 7px;
	margin-bottom: 20px;
}
figure.img_inner {
	display: block;
	overflow: hidden;
	height: auto;
	line-height: 0;
	margin: 0;
	margin-top: 45px;
}
figure iframe {
	width: 100%;
	height: 479px;
}
address {
	display: block;
	margin-top: 16px;
	font-style: normal;
	margin-bottom: 21px;
}
address dl dt {
	margin-bottom: 0px;
	display: inline-block;
	/*color: #454545;*/
	margin-bottom: 21px;
}
address dd span {
	position: relative;
	display: inline-block;
	width: 97px;
}
/*********************************start magnifier2*************************************/
.magnifier2 {
	position: relative;
	/* display:block; */
	display: inline-block;
	width: 100%;
}
.magnifier2 img {
}
.zoom {
	position: absolute;
	top: 0;
	left: 0;
	-webkit-box-sizing: border-box; /* Safari */
	-moz-box-sizing: border-box; /*Firefox 1-3*/
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	background: url(../images/img_zoom_icon.png) 50% 50% no-repeat;
	-webkit-transition: all 0.6s ease;
	-moz-transition: all 0.6s ease;
	-o-transition: all 0.6s ease;
	transition: all 0.6s ease;
}
a.magnifier2:hover .zoom {
	opacity: 1;
}
a.magnifier2 .zoom {
	opacity: 0;
}
/*********************************end magnifier2*************************************/
/************Footer************/
footer {
	display: block;
	width: 100%;
	font-family: Arial, Helvetica, sans-serif;
}
footer.v2 {
	border-top: 1px solid #c9c9c9;
}
.footer_priv {
	padding: 24px 0 34px;
}
p.txt_priv {
	color: #4d4d4d;
	font: 14px/20px "Roboto", Arial, sans-serif;
	margin-top: 20px;
	float: left;
	letter-spacing: 0px;
	text-transform: uppercase;
	min-width: 230px;
}
.txt_priv .fw400 {
	text-transform: uppercase;
}
/*----------- start social icons ----------------*/

.soc_icons {
	position: relative;
	display: inline-block;
	margin-top: 9px;
	white-space: nowrap;
	text-align: left;
	float: right;
}
.soc_icons > li {
	position: relative;
	display: inline-block;
	margin-left: 22px;
}
.soc_icons > li > a {
	position: relative;
	color: #4f4f4f;
	line-height: 1em;
	-webkit-transition: all 0.4s ease-out;
	-moz-transition: all 0.4s ease-out;
	-o-transition: all 0.4s ease-out;
	transition: all 0.4s ease-out;
	display: inline-block;
	text-align: center;
	font: normal normal 18px/24px 'FontAwesome';
}
.soc_icons > li > a:hover {
	color: #62d03a;
	text-decoration: none;
}
/*----------- end social icons ----------------*/

.priv_section1 {
	float: left;
}
.priv_section2 {
	float: right;
}

/*==================================RESPONSIVE LAYOUTS===============================================*/
@media only screen and (max-width: 1199px) {
.div-content {
	width: 100%;
}
address dd span {
	width: 85px;
}
figure.img_inner {
	float: none;
	margin-right: 0;
}
figure iframe {
	width: 100%;
}
.soc_icons > li {
	margin-left: 7px;
}
.txt1 {
	font: 300 25px/26px 'Roboto', Arial, sans-serif;
	margin-top: 0;
}
.txt2, .txt3 {
	margin-top: 10px;
}
.col2 {
	width: 210px;
}
.box-3 {
	padding: 20px 20px 36px;
}
.img2 {
	margin-top: 20px;
	margin-bottom: -10px;
}
.list_menu_footer li {
	margin-left: 20px;
}
#search1 {
	margin: -20px 0 20px 0 !important;
}
h5 {
	margin-top: 20px !important;
}
}

@media only screen and (max-width: 979px) {
.address figure iframe {
	max-width: 100%;
	width: 100%;
}
figure iframe {
	width: 100%;
}
.magnifier2 {
	width: 100%;
}
.col1 {
	width: 50%;
}
.col1 img {
	width: 100%;
}
.txt1 {
	font: 300 35px/36px 'Roboto', Arial, sans-serif;
	margin-top: 40px;
}
.txt2, .txt3 {
	margin-top: 20px;
}
.col2 {
	width: 100%;
}
.col2 img {
	width: 100%;
}
.box-3 {
	padding: 20px 50px 36px;
}
.txt_priv, .list_menu_footer {
	float: none !important;
	display: block;
}
.list_menu_footer li {
	margin-left: 0;
	margin-right: 15px;
}
address {
	font-size: 12px;
}
address dd span {
	width: 64px;
}
}

@media only screen and (max-width: 767px) {
img {
	width: 100%;
}
img.no_resize {
	width: auto;
}
.box {
	overflow: visible;
}
.mobile_txt_cntr {
	text-align: center;
}
figure.img_inner {
	margin-bottom: 10px;
}
.marTopMobile1 {
	margin-top: 30px;
}
header {
	padding-top: 26px;
}
.box-1 {
	margin-top: 18px;
}
.col1 {
	width: 100%;
	float: none;
	margin-top: 1px;
}
.header_txt_section {
	height: auto;
}
.txt1 {
	font: 300 25px/26px 'Roboto', Arial, sans-serif;
	margin-top: 0;
}
.txt2, .txt3 {
	margin-top: 10px;
}
.box-3 {
	padding: 20px 20px 36px;
	margin-top: 30px;
}
.txt4 {
	font: 60px/60px 'Roboto', Arial, sans-serif;
}
.txt5 {
	font: 300 25px/35px 'Roboto', Arial, sans-serif;
}
.box-4 {
	padding-bottom: 40px;
}
.img4, .img5, .img6 {
	margin-bottom: 10px;
}
#search1 {
	margin-top: -10px !important;
	margin-bottom: 10px !important;
	width: 100% !important;
}
#search1 input {
	width: calc(100% - 40px) !important;
}
}

@media only screen and (max-width: 479px) {
/*.main{width: 300px;}*/
	/*h1 img{width: 100%;}*/
.list_menu_footer {
	display: none;
}
}

@media only screen and (max-width: 320px) {
}
/* new */
form.poll label {
	display: block;
	color: #666;
	font-size: 15px;
	padding: 5px 0;
	font-weight: 500;
}
#search1 {
	position: relative;
	float: right;
	margin-top: -5px;
}
#search1 input {
	width: 150px;
	float: left;
	color: #222;
	font: 14px/27px Arial, Helvetica, sans-serif;
	height: 40px;
	/* Safari */
  /*Firefox 1-3*/
	padding: 10px 10px 9px 10px;
	box-shadow: none;
	-webkit-appearance: none;
	resize: none;
	outline: none;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background: #f4f3f1;
	overflow: hidden;
	display: inline-block;
	margin-right: -2px;
	border: none;
}
.more_btn4 {
	position: relative;
	display: inline-block;
	width: 40px;
	height: 40px;
	/*margin-left: -28px;*/
  /*margin-top: 11px;*/
	color: #fff;
	background: #62d03a;
	-webkit-box-sizing: border-box;
	/* Safari */
	-moz-box-sizing: border-box;
	/*Firefox 1-3*/
	box-sizing: border-box;
	border-left: none;
	text-align: center;
}
.more_btn4 i {
	font: normal normal 20px/40px 'FontAwesome';
}
.more_btn4:hover {
	color: #62d03a;
	background: #000;
}
input.subscribe {
	color: #222;
	font: 14px/27px Arial, Helvetica, sans-serif;
	background: #eaeaea;
	padding: 10px 10px 9px 10px;
	width: calc(100% - 20px);
	border: 0;
	margin: 20px 0 0 0;
}
