/*=======================superfish=========================*/
nav a {
	font-size: 14px;
}
nav {
	display: inline-block;
	margin: 0px 0 0px;
	min-height: 17px;
	float: left;
	margin-left: -13px;
}
.sf-menu {
	display: block;
}
.sf-menu ul {
	position: absolute;
	top: -999px;
	display: none;
	z-index: 999;
}
.sf-menu a {
	display: block;
}
.sf-menu li:hover ul, .sf-menu li.sfHover ul {
	z-index: 999;
}
ul.sf-menu li:hover li ul, ul.sf-menu li.sfHover li ul {
	top: -999px;
	display: none;
	z-index: 999;
}
ul.sf-menu li li:hover ul, ul.sf-menu li li.sfHover ul {
	left: 100%;
	top: 0;
	z-index: 999;
}
ul.sf-menu>li {
	font: 18px/20px "Roboto", Georgia, sans-serif;
	float: left;
	position: relative;
	margin-right: 40px;
}
ul.sf-menu>li:before {
	position: absolute;
	display: inline-block;
	content: '';
	width: 12px;
	height: 28px;
	right: -31px;
	top: -3px;
}
#last-li:before {
	background: none;
}
#first-li {
	border-left: none;
}
#last-li {
	border-right: none;
}
ul.sf-menu>li:first-child {
	border-left: none;
}
ul.sf-menu>li>a {
	position: relative;
	display: block;
	color: #2f2f2f;
	font: 400 22px/30px "Roboto", Georgia, sans-serif;
	padding: 0px;
	text-align: center;
	letter-spacing: 0px;
	z-index: 1;
}
ul.sf-menu>li>a img {
	margin-top: -2px;
}
ul.sf-menu>li>a .menu_txt_small {
	display: block;
	color: #818283;
	font: 12px/16px Arial, sans-serif;
	padding: 0 1px;
	text-align: left;
}
ul.sf-menu>li>a strong {
	width: 0;
	height: 9px;
	position: absolute;
	background: #2f2f2f;
	display: inline-block;
	left: 0;
	top: 72px;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
	z-index: 1;
}
ul.sf-menu>li.current, ul.sf-menu>li.sfHover, ul.sf-menu>li:hover {
}
ul.sf-menu>li.current>a img, ul.sf-menu>li.sfHover>a img, ul.sf-menu>li>a:hover img {
	margin-top: -32px;
}
ul.sf-menu>li.current>a, ul.sf-menu>li.sfHover>a, ul.sf-menu>li>a:hover {
/*color:#2fc0e8; */
	/*font-weight: bold;*/
}
ul.sf-menu>li.current>a strong, ul.sf-menu>li.sfHover>a strong, ul.sf-menu>li>a:hover strong {
	width: 100%;
}
/*submenu1*/
.sf-menu>li>ul {
	left: 0px;
	top: 82px;
	width: 300px;
	z-index: 99 !important;
	background: #2e2e2e;
	padding: 14px 16px 10px;
	-webkit-box-sizing: border-box; /* Safari */
	-moz-box-sizing: border-box; /*Firefox 1-3*/
	box-sizing: border-box;
}
/*.sf-menu>li>ul:before {
	position: absolute;
	display: inline-block;
	content: '';
	width: 9px;
	height: 5px;
	left: 47%;
	top: -5px;
	background: url(../images/submenu1_corner.png) no-repeat 0 0;
}*/

.sf-menu>li>ul>li {
	font-size: 12px;
	font-weight: normal;
	position: relative;
	padding: 0;
	padding-top: 8px;
	padding-bottom: 6px;
	border-bottom: 1px dotted #4c4c4c;
}
.sf-menu>li>ul>li:last-child {
	border: none;
}
.sf-menu>li>ul>li:first-child {
}
.sf-menu>li>ul>li>a {
	display: block;
	color: #ababab;
	font: 300 17px/17px "Roboto", Arial, sans-serif;
	padding: 4px 10px 4px 10px;
	text-align: left;
	text-indent: 0px;
}
.sf-menu>li>ul>li:hover, ul.sf-menu>li>ul>li.sfHover {
}
.sf-menu>li>ul>li>a:hover, ul.sf-menu>li>ul>li.sfHover a {
	color: #fff;
	background: #f67570;
	text-decoration: none;
}
/*submenu2*/
.sf-menu li li ul {
	left: 268px !important;
	top: -16px !important;
	display: block;
	width: 109px;
	z-index: 99;
	background: #f67570;
	padding: 14px 16px 10px;
	/*border-radius: 2px;*/
	-webkit-box-sizing: border-box; /* Safari */
	-moz-box-sizing: border-box; /*Firefox 1-3*/
	box-sizing: border-box;
}
/*.sf-menu li li ul:before {
	position: absolute;
	display: inline-block;
	content: '';
	width: 5px;
	height: 9px;
	left: -5px;
	top: 40px;
	background: url(../images/submenu2_corner.png) no-repeat 0 0;
}
*/


.sf-menu>li>ul>li>a>span {
	background: url(../images/subindicator.png) 0 0 no-repeat;
	display: block;
	position: absolute;
	width: 4px;
	height: 7px;
	top: 16px;
	right: 8px;
}
.sf-menu>li>ul>li.sfHover>a>span {
	background-position: right 0;
}
.sf-menu li li li {
	float: none;
	font-size: 12px;
	padding: 0;
	padding-top: 8px;
	padding-bottom: 6px;
	border-bottom: 1px dotted #f99d99;
}
.sf-menu li li li:last-child {
	border: none;
}
.sf-menu li li li a {
	display: block;
	color: #fee9a8 !important;
	font: 300 14px/14px "Roboto", Arial, sans-serif;
	padding: 4px 0;
	background: none !important;
	text-transform: lowercase;
	text-indent: 0px !important;
	text-align: center;
}
.sf-menu li li li:hover {
}
.sf-menu li li li a:hover {
	color: #fff !important;
	background: #2e2e2e !important;
	text-decoration: none;
}

/*==================================RESPONSIVE LAYOUTS===============================================*/


/*@media only screen and (max-width: 995px) {*/
@media (min-width: 980px) and (max-width: 1199px) {
/*ul.sf-menu>li{margin-left: 0px;}*/
nav {
	margin-left: 0;
}
ul.sf-menu>li>a {
	font: 400 18px/24px "Roboto", Georgia, sans-serif;
}
}

@media (min-width: 768px) and (max-width: 979px) {
nav {
	margin-left: 0;
}
ul.sf-menu>li>a {
	padding: 0px 3px 0px;
	font: 400 16px/20px "Roboto", Georgia, sans-serif;
}
ul.sf-menu>li {
	margin-right: 20px;
}
}

@media only screen and (max-width: 767px) {
.menu_block {
	float: none !important;
	margin: 0 21px !important;
}
nav {
	float: none;
	font: 12px/15px Arial, Helvetica, sans-serif;
	color: #98628b;
	padding: 0px 0px 0px;
	width: 100%;
	margin: 0 auto;
	margin-top: 5px !important;
	margin-bottom: 5px !important;
}
/*nav:before{
			content:'Menu:';
			text-align: left;
			display:block;
			margin-bottom:5px;
			color: #474747;
			
		}*/
	/*.sf-menu{display:none;float: none;}*/
nav select {
	font: 14px/20px Arial, Helvetica, sans-serif;
	color: #101010;
	width: 100%;
	left: 0;
	position: relative;
	margin: 0 auto;
	float: none;
	outline: none;
	border: 2px solid #62d03a;
	margin-top: 5px;
	border-radius: 0px !important;
	-moz-border-radius: 0px !important;
	-webkit-border-radius: 0px !important;
	/*height: 40px !important;*/
	position: relative;
	outline: none !important;
	z-index: 1000;
}
nav {
	min-height: 30px;
}
}
